extends layout

block content
  div.row
    div.col-xs-12
      ol.breadcrumb
        li
          a(href='/') Home
        li.active Search
  div.row
    div.col-xs-12
      div.panel.panel-primary
        div.panel-body
          div
            form(class='form search-form', action='/search', method='GET')
              div.row
                div.form-group.col-xs-12
                  input(type='text', name='q' class='form-control pull-left', placeholder='Search text...', value='#{text}')
                  button(class='btn btn-primary pull-left', type='submit') Search
          div
            if news
              ul.list-group
              each newsObject in news
                li.list-group-item
                  div.media
                    div.media-body
                      h4.media-heading
                        a(href='/news/#{newsObject.id}') #{newsObject.title}
                      div.badges
                        div.badge.pull-left.category Category&nbsp;
                          b #{newsObject.category}
                        - var date = new Date(newsObject.date)
                        div.badge.pull-left.date
                          b #{date.getDate()}-#{date.getMonth()}-#{date.getFullYear()}
                      div.clearfix
                      - var content = newsObject.content.substring(0, 100)
                      div.content #{content}... -&nbsp;
                        a(href='/news/#{newsObject.id}') See more